<!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
 
  <h6 class="text-uppercase fw-bold">Contact</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
  <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
</div> -->
	<section class="service">
		
		<!-- Heading-->
		<h1 class="h-primary center"
			style="margin-top:30px;">
			Options to Contact
		</h1>
		<div id="service">
			<div class="box">
				<!-- Form -->
				<img src=
"https://tse3.mm.bing.net/th?id=OIP.auunaJFGKnDADKgdMsUNAgHaHa&pid=Api"
					alt= "color_image">
				<br>
				
				<!-- Displaying text at
					the center of the box-->
				<p class="center">
					<a href="https://mail.yahoo.com/" target="_blank">Nena Mart Mail</a>
				</p>

			</div>
			<div class="box">
				
				<!-- Email -->
				<img src=
"https://tse4.mm.bing.net/th?id=OIP.wjI11Px5we8hVE7QTbbyigHaDi&pid=Api"
					alt= "color_image">
				<br>
				
					<!-- Displaying text at
					the center of the box-->
				<p class="center">
					<a href="https://www.facebook.com/" target="_blank">Nena Mart Facebook</a>
				</p>

			</div>
			<div class="box">
				<img src=
"https://tse4.mm.bing.net/th?id=OIP.goUF-R1J-vMRk8ejdMx4LAHaE8&pid=Api"
					alt= "color_image">
				<br>
				
				<!-- Displaying text at
					the center of the box-->
				<p class="center">
					<a href="https://www.whatsapp.com/" target="_blank">Nena Mart Whatsapp</a>
				</p>

			</div>

      <div class="box">
				
				<!-- Email -->
				<img src=
"https://tse3.mm.bing.net/th?id=OIP.vQ3qghaqBUdsGl1AJwdC5QHaEK&pid=Api"
					alt= "color_image">
				<br>
				
					<!-- Displaying text at
					the center of the box-->
				<p class="center">
					<a href="https://www.instagram.com/" target="_blank">Nena Mart Instgram</a>
				</p>

			</div>


		</div>
	</section>
