
  <!-- <table [hidden]="IsPurshased" class="table"> -->
    <br>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Total Price</th>
        <th>Order Products</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Orders">
        <td>{{item.id}}</td>
        <td>{{item.createdDate}}</td>
        <td>{{item.totalPrice}}</td>
        <td *ngFor="let cartitem of item.shopingCartItems">
         <p>ProductID: {{cartitem.productID}} </p> 
         <p>Product Name: {{cartitem.productName}} </p>
         <p>Product Price: {{cartitem.itemPrice}} </p>
         <p>Quantity: {{cartitem.selectedQuantity}} </p> 
         <hr> 
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-sm-6">
    <a routerLink="/Product/Order" routerLinkActive="active" class="nav-link">Back to Home</a>
  </div>
